name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  

jobs:
  buildProject:

    env:
      BuildConfiguration: "Release"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Auth Nuget
      run: |
        dotnet nuget sources add -Name artifactsDemo -userName az -password ${{ secrets.AZURE_DEVOPS_TOKEN }} "https://pkgs.dev.azure.com/cnuran/Essentials/_packaging/artifactdemo/nuget/v3/index.json" -StorePasswordInClearText -NonInteractive
        
    - name: Restore dependencies
      run: dotnet restore **/src.csproj
      
    - name: Build
      run: dotnet build **/src.csproj --no-restore --configuration ${{ env.BuildConfiguration }}
      
    - name: Publish
      run: dotnet publish **/src.csproj --no-build --configuration ${{ env.BuildConfiguration }} --output webapp

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: myapp
        path: webapp

  testDeploy:
    needs: buildProject

    runs-on: self-hosted
    environment: TEST
    steps:
     - name: Download a Build Artifact
       uses: actions/download-artifact@v4.3.0
       with:
          name: myapp
     - name: Copy Artifact
       run: |
         Copy-Item -Path ${{ github.workspace }} -Destination c:\publish\ghDeploy
       shell: powershell



